<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Comments</h1>
      </div>


      <table class="table table-hover">
        <thead>
          <tr>
            <th>Message</th>
            <th>User</th>
            <th>Article</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.message %></td>
              <td><%= comment.user.name %></td>
              <td><%= comment.article.title %></td>
              <td style="width: 30%">
                <%= link_to 'Show', comment, class: 'btn btn-default btn-sm' %>
                <%= link_to 'Edit', edit_comment_path(comment), class: 'btn btn-success btn-sm' %>
                <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="panel-footer">
        <%= link_to 'New Comment', new_comment_path, class: 'btn btn-default' %>
        <%= will_paginate @Comment %>
      </div>
    </div>
  </div>
</div>



