<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Articles</h1>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>User</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td><%= article.title %></td>
              <td><%= article.content %></td>
              <td><%= article.user.name %></td>
              <td style="width: 30%">
                <div class="btn-group-horzintal float-right" >
                  <%= link_to 'Show', article, class: 'btn btn-default btn-sm' %>
                  <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-success btn-sm' %>
                  <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="panel-footer">
        <%= link_to 'New Article', new_article_path, class: 'btn btn-default' %>
        <%= will_paginate @Article %>
      </div>
    </div>
  </div>
</div>